body {
  background-color: rgb(36, 35, 35);
  font-family: monospace;
}

#welcome {
  text-align: left;
  color: #dbdbdb;
}

#library {
  font-size: 120%;
}
#game_on {
  font-size: 420%;
  font-weight: 80%;
}
#opening {
  font-size: 140%;
}

#quoter {
  font-size: 120%;
  text-align: right;
}

#about {
  color: #f1f1f1;
}

#first {
  font-size: 170%;
}

.description {
  color: white;
  font-size: 120%;
  line-height: 40px;
  font-weight: lighter;
}

#courses {
  color: white;
  text-align: right;
}

.list {
  list-style-type: none;
  color: white;
  text-align: center;
  float: left;
  font-weight: lighter;
  font-size: 120%;
  line-height: 30px;
}

#gallery {
  color: white;
  text-align: center;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 500px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#how_it_works,
#introducing,
#perks {
  color: #dbdbdb;
}

#passwordhelpblock {
  line-height: 20px;
}

table,
th,
td {
  border: 5px;
  border-style: solid;
  border-collapse: collapse;
}

#perks {
  background-color: #777;
  color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}

#inner {
  border: 1px;
  border-style: solid;
  border-color: black;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 30px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  text-align: center;
  text-decoration: none !important;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.carousel-caption {
  background-color: black;
  opacity: 0.8;
  color: white;
}
